{
  "presets": [
    "es2015",
    "stage-2"
  ],
  "ignore": ["test/non-babel-test.js"],
  "plugins": [
      "babel-plugin-js-pattern-matching",
      ["babel-plugin-transform-builtin-extend", {
          "globals": ["Error"]
      }]
  ]
}
